input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #f1efef;
}
#registration_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  border: 1px red solid;
}
